 /* Font Imports start */
 @font-face {
    font-family: "sfpro-l";
    src: url(assets/fonts/SFProText-Light.ttf) format("opentype");
  }
  
  @font-face {
    font-family: "sfpro-r";
    src: url(assets/fonts/SFProText-Regular.ttf) format("opentype");
  }
  
  @font-face {
    font-family: "sfpro-m";
    src: url(assets/fonts/SFProText-Medium.ttf) format("opentype");
  }
  
  @font-face {
    font-family: "sfpro-sb";
    src: url(assets/fonts/SFProText-Semibold.ttf) format("opentype");
  }
  
  @font-face {
    font-family: "sfpro-b";
    src: url(assets/fonts/SFProText-Bold.ttf) format("opentype");
  }
   /* Font Imports End */

/* CSS Reset Start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "sfpro-r", sans-serif;
}

:root {
    font-size: 62.5%;
    --secondary-bg-color: #eee;
    --primary-color:#2a7cf5
  }
  html {
    height: 100dvh;
    font-family: "sfpro-r", sans-serif;
    scroll-behavior: smooth !important;
  }
  body {
    margin: 0;
    overflow: hidden;
    background: var(--secondary-bg-color) !important;
    font-family: "sfpro-r" !important;
   
  }
  .row{
    margin: 0px;
  }
  /* CSS Reset End */

  /* Scroll bar styles start*/
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
    background: #f8f8f8 !important;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc !important;
  }
   /* Scroll bar styles End*/

   @keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .portfolio {
    animation: fadeInFromLeft 0.4s ease;
  }

.headContainer{
    padding-inline: 1rem;
    padding-block: 3rem;
    background-color: #44566C;
    height: 50px;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.heading{
    columns: 2 auto;
    column-rule: 2px solid hsl(210, 14%, 95%); 
}
.headename{
    font-size: 2rem;
    color: #fff;
    vertical-align: middle;
    margin-left: 0.5em;
}
.socialIcons{
    columns: 3 auto;
    column-rule: 2px solid hsl(210, 14%, 95%); 
    padding-right: 2rem;
    column-gap: 2rem;
    cursor: pointer;
}

.gitIcon:hover ,.linkedinIcon:hover,.mailIcon:hover, .downloadIcon:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}
.pr-tc{
    position: relative;
    text-align: center;

}
.iconStyle{
    font-size: 2rem;
}
.primary_color{
color: var(--primary-color);
}
.portfolio{
    margin-top: 1rem;
}
.menubar{
    background-color: #fff;
    height: calc(100dvh - 50px) ;
    margin-top: -10px;
    overflow-y: auto;
}
.menubar:nth-child(odd){
  background-color: #fff !important;
}
.menubar:nth-child(even){
  background-color: #181a1c !important;
}
.profilePic{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Profile_img{
  border: 1px solid #d9cfcf;
    border-radius: 20%;
}
.profile_details{
  text-align: center;
    margin-top: 1rem;
    font-size: 2.3rem;
    color: #44566C;
    font-weight: 500;
    font-family: 'Font Awesome 5 Free';
}
.position{
  font-size: 1rem;
  background-color: #F5F6F7;
  border-radius: 8px;
  padding: 5px 8px;
  font-weight: 700;
  color: #0C134F;
}
.toolbar{
  display: flex;
  align-items: center;
  background-color: #F5F8F9;
  height: max(220px, 30dvh);
  justify-content: flex-start;
  padding: 1rem 2rem;
}
  nav ul li {
  color: #181a1c;
  list-style-type:disc;
  font-size: 1.5rem;
  padding: 0.4rem;
}

.contanctInfo{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1em;
}
.text-center{
  font-size: 1.5rem;
  padding: 5px;
  font-weight: 700;
  color: #0C134F;
}
.menucontent{
  height: calc(100dvh - 80px) ;
  border-radius: 8px;
  border: transparent;
  background-color: #fff;
  margin-left: 1rem;
  margin-right: 1.5rem;
  box-shadow: 0 2.5rem 3.125rem rgba(103, 118, 128, 0.1) !important;
  padding: 2rem;
  overflow-y: auto;
}

.title{
  font-size: 3rem;
  color: #277ef3;
  font-family:"sfpro-sb";
}
.contents{
  color: #44566C;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
.absPos{
  position: absolute;
  top: -20%;
  left: 93%;

}
.hr{
  margin-bottom: 1rem;
}
.contents  li {
  padding: 1rem;
}
.cards{
  background-color: #F5F8F9;
  border: 1ps solid #fff;
  border-radius: 8px;
}
.text-small{
  color: #44566C;
  font-size: 1.3rem;
}
.jobTitle{
  font-family:"sfpro-sb";
  font-size: 2rem;
}
.projects{
  display: grid;
  gap: 1rem;
}
.projectTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.projectIcon{
  font-size: 4rem;
  color: #277ef3;
  background-color: #fff;
  border-radius: 50%;
    padding-inline: 1rem;
}
.flex-card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-content:first-child{
  flex-basis: 100% !important;
  flex-grow: 1;
  background-color: floralwhite;
  padding: 1rem 2.5rem;
  border: 1px solid #fff;
  border-radius: 8px;
}
.card-content{
  flex-basis: 40% !important;
  flex-grow: 1;
  background-color: floralwhite;
  padding: 1rem 2.5rem;
  border: 1px solid #fff;
  border-radius: 8px;
}

/*Media Queries */

@media (max-width: 992px) {
  body{
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: calc(100vh - 200px) !important;
  }
  .card-content{
    flex-basis: 100% !important;
  }
  .menubar{
    height:max-content;
    overflow-y: auto;
  }
  .menucontent{
    height: max-content;
    overflow: hidden;
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
  }
  .contanctInfo{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
  }
  .toolbar{
    height: max-content !important;
    justify-content: center;
  }
  nav ul{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
  }
  nav ul li {
    flex-grow: 1;
  }

}